html {
    font-size: 22px
}

body {
    background-color: black;
    color: whitesmoke
}

a {
    color: mediumslateblue
}

a:visited {
    color: greenyellow
}

a:hover, a:active {
    color: #eee
}

table, tr, th, td, caption {
    border: 2px solid slateblue;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-collapse: collapse;
    padding: 0.5rem;


}