.sidebar {
    position: fixed;
    left: 0;
    bottom: 0;
    top: 75px;
    background-color: white;
    color: black;
    width: 170px;
    border-right: solid;
    border-top:solid;
}

.sidebar-link {
    height:110px;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.sidebar-link:hover{
    background-color: red;
    transform: scale(0.9);
}

.sidebar-link img {
    width: 70px;
    height: 70px;
    margin-top: 0px;
    margin-bottom: 0px;
    border-radius: 50%;
    object-fit: contain;
}

.sidebar-link div {
    font-size: 10px;
}
